/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




/* 2. Content ================================= */

.todo {
	background: white;
	margin: 50px auto 0;
	width: 100%;
	max-width: 500px;
	box-shadow: 0 20px 30px rgba(0,0,0,0.5);

	h1 {
		font-size: 2em;
		font-weight: bold;
		padding: 20px;
	}

	input {
		font-size: 1.2em;
		font-style: italic;
		padding: 5px 20px;
		width: calc(100% - 40px);
		margin: 20px;
	}

	ul {
		padding: 10px 0;
		display: flex;
		flex-direction: column;

		li {
			border-top: 1px solid #aaa;
			padding: 20px; 
			
			&:nth-child(odd) {
				background: #eee;
			}

			button {
				float: right;
			}
			&.done {
				font-size: 0.75em;
				order: 100;
				padding: 10px 20px;
				opacity: 0.5;
				text-decoration: line-through;
			}
		}
	}

	> p {
		font-size: 0.66em;
		padding: 5px 20px;
		color: #aaa;
	}
}